* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #fbfcfc;
}
.navbar {
    border-bottom: 1px solid white;
    background-color: #005b96;
}
.nav-link{
    float: left;
    width: 50px;
}
.img-journal {
    width: 40%;
    border: 5px solid gainsboro;
}
.journal-subtitle {
    color:  	darkblue;
    font-weight: bold;
    font-size: larger;
}
.journal-words {
    font-size: medium;
}
.list-indikator-phbs {
    padding-left: 16px;
}
.list-manfaat-menerapkan-phbs {
    padding-left: 18px;
}
.list-title {
    font-weight: bolder;
}

.container-footer {
    background-color:  	#005b96;
    margin-top:  150px;
    padding: 40px 0 20px 0;
}
.container-footer
p {
    color: white;
    font-size: medium;
}

@media only screen and (max-width: 700px) {
    .navbar-brand, .nav-item {
        font-size: 14px;
    }
    .navbar-toggler {
        padding: 0;
        width: 24px;
        height: 26px;
    }
    .navbar-toggler-icon {
        width: 15px;
        height: 25px;
    }
    .navbar-collapse {
        margin-top: 12px;
        border-top: 1px solid white;
        padding-top: 10px;
    }
    .nav-item {
        margin: 0 auto;
    }
    .nav-link {
        text-align: center;
    }
    .journal-title {
        font-size: medium;
    }
    .journal-image
    .img-journal {
        width: 70%;
        border: 2px solid gainsboro;
    }
    .journal-subtitle {
        font-size: 15px;
    }
    .journal-main
    p, ul, ol {
        font-size: small;
    }
    .container-footer
    p {
        font-size: 15px;
    }
}